
/*** ////////// Carousel Section Team card \\\\\\\\\\ ***/
:root {
  --arrow: 37px;
  --hide-arrow: -37px;
}

.carousel-container {
  margin-left: 4%;
  display: flex;
}

.team {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%; /* prob need this for the carousel to grow as window grows */
  overflow: hidden;
  /* overflow-x: scroll; */
}

.carousel-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  z-index: 10;
  border: hidden;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  /* transition: background 250ms ease-in-out, 
  transform 150ms ease; */
  -webkit-appearance: none;
  -moz-appearance: none;
  /* color: blue; */
  width: var(--arrow);
  height: var(--arrow);
  border-radius: 50%;
}

.carousel-btn:hover, .carousel-btn:focus, .arrow:hover, .arrow:focus{
  outline: none;
  background-color: hsl(189, 87%, 93%);
}

.carousel-btn:active, .arrow:active{
  /* outline: none; */
  background-color: hsl(190, 87%, 85%);
}

.right-btn {
  margin-right: 10px;
}

.left-btn {
  /* margin-right: 5px; */
  visibility: hidden;
  /* margin-left: -(var(--hide-arrow)); */
}

.arrow {
  /* box-sizing: border-box; */
  /* border: solid 1px red; */
  width: var(--arrow);
  height: var(--arrow);
  /* padding: 3px; */
  border-radius: 100%;
}

#svg-arrow {
  fill: var(--pp-blue-hl);
}

.teammember-list {
  display: flex;
  align-items: center;
  height: 45px;
  width: 100%;
  flex-flow: nowrap;
  /* flex-flow: wrap; */
  overflow: hidden;
  /* margin-left: 0px; */
}

.teammember {
  /* padding: 10px; */
  margin: 15px 20px 15px 0px;
  /* overflow: hidden; */
}

.list-inline-item {
  border: solid 1px var(--pp-green);
  border-radius: 30% 1px;/* not per req'n */
  border-radius: 30px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  not per req'n */
  padding: 10px;
  /* margin: 10px 20px 10px 0; */
  /* overflow: hidden; */
}

.list-inline-item:hover {
  color: var(--white-bkgd);
  background-color: var(--pp-green);
}
