
/* Setting specific for index.html */
:root {
  /* --yllow-bkgd: rgb(253, 248, 155);
  --pp-grey: hsl(0, 0%, 80%) */
}

* {
  background-color: var(--yllow-bkgd);
}

::-webkit-scrollbar {
  display: none;
}

/*** Search Area ***/
#search-area {
  background-image: url('../image/Background.jpg');
  background-size: 1300px auto;
  background-position: left top;
  background-repeat: no-repeat;
  /* display: flex; */
  padding-top: 100px;
  padding-bottom: 600px;
}

.search-container {
  width: 500px;
  margin: 20%;
  margin-top: 200px;
  margin-bottom: 0px;
}

.search-container, .mag-glass, .search-box, .search {
  background-color: var(--yllow-bkgd);
}

.search-box {
  width: 85%;
}

.whiteBkgrnd {
  background-color: white;
}

.spacing {
  margin-left: 20%;
}


