
@import url("https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Gothic+A1:100,200,300,400,500,600,700,800,900&display=swap");
:root {
  --pp-blue-hl: rgb(30, 136, 229);
  --pp-green: rgb(0, 150, 136);
  --pp-grey: hsl(0, 0%, 80%)
}

* {
  margin: 0;
  padding: 0;
  background-color: white;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  color: rgb(52, 52, 51);
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  line-height: 1;
}

/*** Header Container ***/
.header-container, .main-menu {
  display: flex; 
  align-items: flex-start;
}

.header-container {
  padding-top: 20px;
  width: auto;
  margin-left: 4%;
}

#logo {
  width: 146px;
  height: 57px;
}

/*** Main Navigation ***/
.main-navigation {
  width: 100%;
  padding-top: 15px;
}

.main-menu {
  padding-left: 20px;
}

.menu-item{
  display: flex;
  padding: 7px 2%;
  /* text-decoration: none; */
}

.item-hl:hover {
  color: var(--pp-blue-hl);
}

ul {
  list-style: none;
}

a, input, li {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}

.dropdown-hl:hover {
  background-color: rgb(231, 254, 229);
}

footer {
  opacity: 10%;
  margin-top: 20%;
}

/*** Search Area common style ***/
#search-area {
  justify-content: center;
  flex-direction: column;
  white-space: nowrap;
  min-width: 300px;/* NEW */
}

.search-container {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 43px;
  border-radius: 30px;
  border: var(--pp-grey) solid 2px;
  margin-bottom: 0;
}

.search-container, .mag-glass, .search-box, .search {
  background-color: white;
}

.search-container:hover {
  border-color: hsl(0, 0%, 20%);
}

.mag-glass {
  margin: 10px;
}

.search-box {
  margin-left: 2%;
  width: 75%;
}

.search {
  border: 0px none;
  font-size: 17px;
  width: 100%;
}

.search:focus {
  outline: none;
}

#svg-search {
  fill: var(--pp-grey);
}

.spacing {
  display: inline-block;
  margin-left: 0px;
  width: 0px;
}

.list-container {
  display: inline-block;
  /* position: absolute; NEW */
  z-index: 50;
  margin-left: 42px;
  margin-top: 2px;
  width: 250px;
}