
@import url("https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Gothic+A1:100,200,300,400,500,600,700,800,900&display=swap");
:root {
  --pp-blue-hl: rgb(30, 136, 229);
  --pp-green: rgb(0, 150, 136);
  --yllow-bkgd: rgb(253, 248, 155);
  --white-bkgd: white;
  --pp-grey: hsl(0, 0%, 80%)
}

* {
  margin: 0;
  padding: 0;
  background-color: white;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  color: hsl(60, 1%, 20%);
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  line-height: 1;
}

/*** Header Container ***/
.header-container, .main-menu {
  display: flex; 
  align-items: flex-start;
}

.header-container {
  padding-top: 20px;
  width: auto;
  margin-left: 4%;
}

#logo {
  width: 146px;
  height: 57px;
}

/*** Main Navigation ***/
.main-navigation {
  width: 100%;
  padding-top: 15px;
  /* margin: 0px 20px; */
  margin-right: 20px;
  overflow-x: auto;
}

.main-menu-wrapper {
  overflow: hidden;
  height: 30px;
}

.main-menu {
  overflow: auto;
}

.menu-item{
  display: flex;
  margin: 7px 10px;
}

.menu-text{
  white-space: nowrap;
  text-decoration: none;
  color: inherit;
}

.item-hl:hover {
  color: var(--pp-blue-hl);
}

ul {
  list-style: none;
}

a, input, li {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}

.dropdown-hl:hover {
  background-color: rgb(231, 254, 229);
}

footer {
  opacity: 10%;
  margin-top: 20%;
}

/*** Search Area common style ***/
#search-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  min-width: 300px; /* NEW */
  padding: 5px;
}

.search-container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  height: 43px;
  border-radius: 30px;
  border: var(--pp-grey) solid 2px;
  margin-bottom: 0px;
}

.search-container, .list-wrapper {
  width: 90%;
  max-width: 500px;
}
.search-container, .mag-glass, .search-box, .search {
  background-color: white;
}

.search-container:hover {
  border-color: hsl(0, 0%, 20%);
}

.mag-glass {
  margin: 10px;
}

.search-box{
  margin-left: 2%;
  width: 90%;
}

.search {
  border: 0px none;
  font-size: 17px;
  /* color: var(--pp-grey); */
  width: 100%;
}

.clear-x-wrapper {
  margin: 0px 15px;
  /* padding-left: 5px; */
  width: 3%;
}

.clear-search-x {
  visibility: hidden;
  cursor: pointer;
  float: right;
}

#svg-X {
  fill: none;
}

.search:focus {
  outline: none;
}

#svg-search, #Combined-Shape{
  fill: var(--pp-grey);
}

.list-wrapper {
}

.list-container {
  position: absolute;
  z-index: 50;
  margin-top: 2px;
  margin-left: 30px;
  width: max-content;
  /* max-height: 300px; */
  overflow: auto;
}

.dropdownList{
  border: solid 1px var(--pp-grey);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-transform: capitalize;
}

.dropdown-item {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 13px;
  padding-bottom: 0px;
  font-size: 18px;
  height: 35px;
  border-radius: 2px;
  border: solid 1px var(--pp-grey);
}

.list-container, .dropdownList{
  border-radius: 4px;
}

#dropdown-item-hl {
  background: #ffc600;
  color: blue;
}

:-moz-placeholder, /* Mozilla Firefox 4 to 18 */::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: var(--pp-grey);
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    #909;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color:    #909;
}
::-webkit-input-placeholder, /* WebKit, Blink, Edge */
::placeholder { /*Most modern browsers support this now. */
  color: var(--pp-grey);
  /* color: red; */
}